.navbar-nav > li > .dropdown-menu {
  width: 30px; 
}

#arrow_dropdown_menu {
  display: none;
}

#logo {
  margin-top: -11px;
  width: 44.145px;
  height: 42.525px;
}

#name {
  margin-left: -25px;
}

.navbar-right > a:link {
  text-decoration: none;
  color: gray;
  font-weight: normal;
}

.navbar-right > a:visited {
  text-decoration: none;
  color: gray;
  font-weight: normal;
}

.navbar-right > a:hover {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

#login_pic {
  margin-top: 12px;
  margin-right: 5px;
  font-size: 25px;
}

#login_btn {
 margin-top: 10px;
}